<!DOCTYPE html>
<html>
  <head>
    <title>Okiumi5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= link_to root_path do %>
      <h1>okiumi</h1>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "ユーザー一覧", users_path %>
      <%= link_to "マイページ", user_path(current_user) %>
      <%= link_to "新規投稿", new_post_path %>
      <%= link_to "ビーチ一覧", posts_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ユーザー一覧", users_path %>
      <%= link_to "ビーチ一覧", posts_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
